@model IEnumerable<string>

    <li class="@(ViewBag.SelectedCategory == null ? "active" : "")">
        <a asp-action="Index"
           asp-controller="Gallery"
           asp-route-selectedCategory="">
            Show All Categories
        </a>
    </li>
    @foreach (var cat in Model)
    {
        <li class="@(cat == ViewBag.SelectedCategory ? "active": "")">
            <a asp-controller="Gallery"
               asp-action="Index"
               asp-route-selectedCategory="@cat"
               >@cat</a>
        </li>
    }


@*<form asp-controller="Gallery" asp-action="Index" asp-route-selectedCategory="active" method="post">
    <div class="form-group">
        <label>Select Category</label>
        <select onchange="form.submit()" class="form-control">
            <option value="@(ViewBag.SelectedCategory == null ? "active" : "" )" selected>-- All --</option>
            @foreach (var cat in Model)
            {
                <option value="@(cat.Equals(ViewBag.SelectedCategory,
                       StringComparison.InvariantCultureIgnoreCase) ? "active": "")">
                    @cat
                </option>
            }
        </select>
        </div>
</form>*@